# Pandas

In [2]:
# Pandas Library
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

Import Finance Data (Historical Prices)

In [2]:
import warnings
warnings.filterwarnings("ignore")

# yfinance is used to fetch data 
import yfinance as yf
yf.pdr_override()

In [3]:
# input
symbol = 'AMD'
start = '2014-01-01'
end = '2018-08-27'

# Read data 
dataset = yf.download(symbol,start,end)

# View Columns
# Dataframe
dataset.head()

[*********************100%***********************]  1 of 1 completed

            Open  High   Low  Close  Adj Close    Volume
Date
2014-01-02  3.85  3.98  3.84   3.95       3.95  20548400
2014-01-03  3.98  4.00  3.88   4.00       4.00  22887200
2014-01-06  4.01  4.18  3.99   4.13       4.13  42398300
2014-01-07  4.19  4.25  4.11   4.18       4.18  42932100
2014-01-08  4.23  4.26  4.14   4.18       4.18  30678700

In [4]:
dataset.rolling(window=5).mean() # Find the mean for last 4 rows

                 Open    High     Low   Close  Adj Close      Volume
Date
2014-01-02        NaN     NaN     NaN     NaN        NaN         NaN
2014-01-03        NaN     NaN     NaN     NaN        NaN         NaN
2014-01-06        NaN     NaN     NaN     NaN        NaN         NaN
2014-01-07        NaN     NaN     NaN     NaN        NaN         NaN
2014-01-08   4.052000   4.134   3.992   4.088      4.088  31888940.0
...               ...     ...     ...     ...        ...         ...
2018-08-20  19.720000  20.070  19.232  19.760     19.760  73776940.0
2018-08-21  19.722001  20.098  19.278  19.836     19.836  67063640.0
2018-08-22  19.806001  20.262  19.480  20.076     20.076  62193040.0
2018-08-23  20.072001  20.712  19.858  20.668     20.668  70935120.0
2018-08-24  20.830000  21.548  20.646  21.510     21.510  91677440.0

[1171 rows x 6 columns]

In [5]:
dataset.rolling(window=5).std() # Find the standarad deviation for last 4 rows

                Open      High       Low     Close  Adj Close        Volume
Date
2014-01-02       NaN       NaN       NaN       NaN        NaN           NaN
2014-01-03       NaN       NaN       NaN       NaN        NaN           NaN
2014-01-06       NaN       NaN       NaN       NaN        NaN           NaN
2014-01-07       NaN       NaN       NaN       NaN        NaN           NaN
2014-01-08  0.156908  0.135204  0.133679  0.106630   0.106630  1.052974e+07
...              ...       ...       ...       ...        ...           ...
2018-08-20  0.341540  0.164013  0.326221  0.275953   0.275953  1.324768e+07
2018-08-21  0.343395  0.213354  0.403448  0.392976   0.392976  1.191929e+07
2018-08-22  0.426825  0.425230  0.572189  0.600691   0.600691  5.076759e+06
2018-08-23  0.756221  0.988595  0.908003  1.004525   1.004525  2.393107e+07
2018-08-24  1.280878  1.614782  1.306533  1.632054   1.632054  4.678504e+07

[1171 rows x 6 columns]

In [6]:
# exponential weighted functions
dataset['ewm'] = dataset['Adj Close'].ewm(span=20,min_periods=0,adjust=False,ignore_na=False).mean()
dataset.head()

            Open  High   Low  Close  Adj Close    Volume       ewm
Date
2014-01-02  3.85  3.98  3.84   3.95       3.95  20548400  3.950000
2014-01-03  3.98  4.00  3.88   4.00       4.00  22887200  3.954762
2014-01-06  4.01  4.18  3.99   4.13       4.13  42398300  3.971451
2014-01-07  4.19  4.25  4.11   4.18       4.18  42932100  3.991313
2014-01-08  4.23  4.26  4.14   4.18       4.18  30678700  4.009283

In [7]:
# iloc[] examples
print(dataset.iloc[0][0])

3.8499999046325684

In [8]:
# iat[] examples
print(dataset.iat[0,0])

3.8499999046325684

In [9]:
df = dataset.reset_index()
df.head()

        Date  Open  High   Low  Close  Adj Close    Volume       ewm
0 2014-01-02  3.85  3.98  3.84   3.95       3.95  20548400  3.950000
1 2014-01-03  3.98  4.00  3.88   4.00       4.00  22887200  3.954762
2 2014-01-06  4.01  4.18  3.99   4.13       4.13  42398300  3.971451
3 2014-01-07  4.19  4.25  4.11   4.18       4.18  42932100  3.991313
4 2014-01-08  4.23  4.26  4.14   4.18       4.18  30678700  4.009283

In [10]:
# loc[] examples
print(df.loc[0]['High'])

3.9800000190734863

In [11]:
# iloc[] examples
print(df.iloc[0])

Date         2014-01-02 00:00:00
Open                        3.85
High                        3.98
Low                         3.84
Close                       3.95
Adj Close                   3.95
Volume                  20548400
ewm                         3.95
Name: 0, dtype: object

In [12]:
# Specify Column
print(df.iloc[0]['Volume'])

20548400

In [13]:
# at[] examples
print(df.at[0,'Low'])

3.8399999141693115

In [14]:
# Remove column example
# Remove Date
new_df = df.drop(['Date'], axis=1)
new_df.head()

   Open  High   Low  Close  Adj Close    Volume       ewm
0  3.85  3.98  3.84   3.95       3.95  20548400  3.950000
1  3.98  4.00  3.88   4.00       4.00  22887200  3.954762
2  4.01  4.18  3.99   4.13       4.13  42398300  3.971451
3  4.19  4.25  4.11   4.18       4.18  42932100  3.991313
4  4.23  4.26  4.14   4.18       4.18  30678700  4.009283

In [15]:
# Add column example
# Add Date
new_column = df['Date']

In [16]:
new_df['Date'] = new_column
new_df.head()

   Open  High   Low  Close  Adj Close    Volume       ewm       Date
0  3.85  3.98  3.84   3.95       3.95  20548400  3.950000 2014-01-02
1  3.98  4.00  3.88   4.00       4.00  22887200  3.954762 2014-01-03
2  4.01  4.18  3.99   4.13       4.13  42398300  3.971451 2014-01-06
3  4.19  4.25  4.11   4.18       4.18  42932100  3.991313 2014-01-07
4  4.23  4.26  4.14   4.18       4.18  30678700  4.009283 2014-01-08

In [17]:
# Move column example
# Move Date in the first column
cols = new_df.columns.to_list()
cols.insert(0, cols.pop(cols.index('Date')))
cols

['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume', 'ewm']

In [18]:
# iloc() function enables us to select a particular cell of the dataset
new_df = new_df.iloc[:]
new_df.head()

   Open  High   Low  Close  Adj Close    Volume       ewm       Date
0  3.85  3.98  3.84   3.95       3.95  20548400  3.950000 2014-01-02
1  3.98  4.00  3.88   4.00       4.00  22887200  3.954762 2014-01-03
2  4.01  4.18  3.99   4.13       4.13  42398300  3.971451 2014-01-06
3  4.19  4.25  4.11   4.18       4.18  42932100  3.991313 2014-01-07
4  4.23  4.26  4.14   4.18       4.18  30678700  4.009283 2014-01-08

In [19]:
new_df.iloc[2]

Open                        4.01
High                        4.18
Low                         3.99
Close                       4.13
Adj Close                   4.13
Volume                  42398300
ewm                      3.97145
Date         2014-01-06 00:00:00
Name: 2, dtype: object

In [20]:
# Delete the column
del new_df['Close']

In [21]:
new_df.head()

   Open  High   Low  Adj Close    Volume       ewm       Date
0  3.85  3.98  3.84       3.95  20548400  3.950000 2014-01-02
1  3.98  4.00  3.88       4.00  22887200  3.954762 2014-01-03
2  4.01  4.18  3.99       4.13  42398300  3.971451 2014-01-06
3  4.19  4.25  4.11       4.18  42932100  3.991313 2014-01-07
4  4.23  4.26  4.14       4.18  30678700  4.009283 2014-01-08

In [22]:
# Rename column
new_df = new_df.rename(index=str, columns={'Adj Close':'Close'})
new_df.head()

   Open  High   Low  Close    Volume       ewm       Date
0  3.85  3.98  3.84   3.95  20548400  3.950000 2014-01-02
1  3.98  4.00  3.88   4.00  22887200  3.954762 2014-01-03
2  4.01  4.18  3.99   4.13  42398300  3.971451 2014-01-06
3  4.19  4.25  4.11   4.18  42932100  3.991313 2014-01-07
4  4.23  4.26  4.14   4.18  30678700  4.009283 2014-01-08

In [23]:
# column name to upper case
new_df.rename(str.upper, axis='columns')

           OPEN   HIGH        LOW      CLOSE     VOLUME        EWM       DATE
0      3.850000   3.98   3.840000   3.950000   20548400   3.950000 2014-01-02
1      3.980000   4.00   3.880000   4.000000   22887200   3.954762 2014-01-03
2      4.010000   4.18   3.990000   4.130000   42398300   3.971451 2014-01-06
3      4.190000   4.25   4.110000   4.180000   42932100   3.991313 2014-01-07
4      4.230000   4.26   4.140000   4.180000   30678700   4.009283 2014-01-08
...         ...    ...        ...        ...        ...        ...        ...
1166  19.790001  20.08  19.350000  19.980000   62983200  18.890512 2018-08-20
1167  19.980000  20.42  19.860001  20.400000   55629000  19.034273 2018-08-21
1168  20.280001  20.92  20.209999  20.900000   62002700  19.211961 2018-08-22
1169  21.190001  22.32  21.139999  22.290001  113444100  19.505108 2018-08-23
1170  22.910000  24.00  22.670000  23.980000  164328200  19.931288 2018-08-24

[1171 rows x 7 columns]

In [24]:
# column name to lower case
new_df.rename(str.lower, axis='columns')

           open   high        low      close     volume        ewm       date
0      3.850000   3.98   3.840000   3.950000   20548400   3.950000 2014-01-02
1      3.980000   4.00   3.880000   4.000000   22887200   3.954762 2014-01-03
2      4.010000   4.18   3.990000   4.130000   42398300   3.971451 2014-01-06
3      4.190000   4.25   4.110000   4.180000   42932100   3.991313 2014-01-07
4      4.230000   4.26   4.140000   4.180000   30678700   4.009283 2014-01-08
...         ...    ...        ...        ...        ...        ...        ...
1166  19.790001  20.08  19.350000  19.980000   62983200  18.890512 2018-08-20
1167  19.980000  20.42  19.860001  20.400000   55629000  19.034273 2018-08-21
1168  20.280001  20.92  20.209999  20.900000   62002700  19.211961 2018-08-22
1169  21.190001  22.32  21.139999  22.290001  113444100  19.505108 2018-08-23
1170  22.910000  24.00  22.670000  23.980000  164328200  19.931288 2018-08-24

[1171 rows x 7 columns]

In [25]:
# Selecting Multiple Columns
new_df[new_df.columns[1:5]]

       High        Low      Close     Volume
0      3.98   3.840000   3.950000   20548400
1      4.00   3.880000   4.000000   22887200
2      4.18   3.990000   4.130000   42398300
3      4.25   4.110000   4.180000   42932100
4      4.26   4.140000   4.180000   30678700
...     ...        ...        ...        ...
1166  20.08  19.350000  19.980000   62983200
1167  20.42  19.860001  20.400000   55629000
1168  20.92  20.209999  20.900000   62002700
1169  22.32  21.139999  22.290001  113444100
1170  24.00  22.670000  23.980000  164328200

[1171 rows x 4 columns]

In [26]:
# Selecting rows
new_df[1:4]

   Open  High   Low  Close    Volume       ewm       Date
1  3.98  4.00  3.88   4.00  22887200  3.954762 2014-01-03
2  4.01  4.18  3.99   4.13  42398300  3.971451 2014-01-06
3  4.19  4.25  4.11   4.18  42932100  3.991313 2014-01-07

In [27]:
# Create Dataframe
stock_df = pd.DataFrame([[123.50, 145.35, 165.50], [152.35, 154.67, 160.35], [201.25, 236.54, 254.69]], columns=['IBM', 'Apple', 'Tesla'])
stock_df

      IBM   Apple   Tesla
0  123.50  145.35  165.50
1  152.35  154.67  160.35
2  201.25  236.54  254.69

In [28]:
stock_df = stock_df.replace([201.25, 145.35], [888, 888])
stock_df

      IBM   Apple   Tesla
0  123.50  888.00  165.50
1  152.35  154.67  160.35
2  888.00  236.54  254.69

In [29]:
stock_df = stock_df.replace([165.50, 160.35], ['NaN', 'NaN'])
stock_df

      IBM   Apple   Tesla
0  123.50  888.00     NaN
1  152.35  154.67     NaN
2  888.00  236.54  254.69

In [30]:
for index, row in stock_df.iterrows() :
    print(row['IBM'], row['Apple'])

123.5 888.0
152.35 154.67
888.0 236.54